* {
  font-family: 'Ubuntu', sans-serif;
  background-color: #C9C9C9;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

.scrollable-content {
  height: 200px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

h1 {
  text-align: center;
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
}

.matrix{
    flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;

}
.matrix-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.75em;
  background-color: #F2F2F2;
  padding: 20px;

  margin: 0 auto;
  font-size: 25px;
  border-radius: 30px;
  width: 50%;
  min-width: 700px;
  min-height: 700px;
  flex-grow: 1;
}

.matrix-container > div {
  border-radius: 1.5em;
  padding: 0px 20px;
}

.matrix-container > div > div {
  background-color: transparent;
}

.important-urgent {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: rgb(226,135,67);
}
.important-not-urgent {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #64C5EB;
}
.not-important-urgent {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #FCBD37;
}
.not-important-not-urgent {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #FC5A37;
}

.filtered{
  background-color: transparent;
  text-align: center;
}

.element {

  user-select: none;
  display: inline-block;
  border: 3px solid black;
  border-radius: 18px;
  padding: 5px;
  margin: 10px;
  background-color: #52E4F3;
  animation-name: aparecer;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 1;

}

.element:active {
cursor: move;
transform: scale(1.1) rotate(-3deg);
}

.eliminar {
  margin: auto 10px;
border: 3px solid black;
background-color: rgb(179, 100, 100);
border-radius: 1.5em;
width: 200px;
height: 80px;
float: right;
}

.eliminar > h3 {
  margin: 0.2em auto;
}

#eliminar{
border: 3px solid black;
background-color: rgb(179, 0, 0);
border-radius: 1.5em;
height: 70%;
width: 100%;
margin: -3px;
}

.conteiner-entrada, .conteiner-entrada__2 {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  min-width: 700px;
  height: 3em;
}

.conteiner-entrada__input  {
  font-size: 25px;
  border-radius: 10px;
  padding: 0.15em 0.5em;
  min-width: 150px;
}
.conteiner-entrada__button{
  width: 120px;
  height: 40px;
  border-radius: 30px;
  background-color: #22EE78;
  color: #fff;
  font-size: 18px;
  transition: transform 0.2s ease-in-out;
  margin: 0px 30px;
}
.conteiner-entrada__button:hover {
background-color: #30fc86;
  }

  .conteiner-entrada__button:active {
background-color: #30fc86;
transform: translateY(3px);
  }

  select {
  background-color: white;
  border: black;
  border-radius: 6px;
  display: inline-block;
  font: inherit;
  line-height: 1.25em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin-left: 10px;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 267px;
}

select.seleccion {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.seleccion:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: skyblue;

}

.conteiner-entrada__buttonReiniciar{
  width: 80px;
  height: 25px;
  font-size: 15px;
}

.importar {
  display: flex;
  align-items: center;
  border: 1px Dashed black;
  background-color: transparent;
  padding: 10px;
/*  position: fixed;
  bottom: 100px;
  right: 10px;*/
  border-radius: 5px;
  width: 200px;
  user-select: none;
}
.file-input {
position: fixed;
  bottom: 100px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px Dashed black;
  border-radius: 20px;
  cursor: pointer;
  max-width: 300px;
}

.file-input img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.file-input label {
  font-size: 18px;
  font-weight: bold;
}
.icono {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: transparent;
}

.texto {
  font-size: 20px;
  background-color: transparent;
}

.descargar{
  user-select: none;
  display: flex;
  align-items: center;
  border: 1px solid black;
  background-color: dimgray;
  padding: 10px;
  position: fixed;
  bottom: 35px;
  right: 10px;
  border-radius: 20px;
}

@media (max-width: 767px) {
.container{
        width: 100%;
      }
      .matrix{
        width: 100%;
        min-width: 70;
        min-width: 1300px;
      }
      .matrix-container{
        min-width: 1300px;
      }
      .file-input, .descargar{
        display: none;

      }
        .eliminar {
    width: 300px;
    height: 130px;

  }
    .seleccion{
width: 350px;
height: 40px;
font-size: 20px;
  }
    .conteiner-entrada__input{

font-size: 30px;
width: 320px;
  }
  .conteiner-entrada__2{

  }
  .conteiner-entrada__button{
  width: 200px;
  height: 60px;
  font-size: 30px;
  }
  .conteiner-entrada__buttonReiniciar{
    width: 100px;
  height: 40px;
  font-size: 20px;
  }

h3, h1{
  margin-top: 10px;
  font-size: 50px;
}

.eliminar > h3 {
  font-size: 30px;
}
.element {
  font-size: 40px;
}
}




